body {
  margin: 5rem;
}

.headerButton {
  background-color: transparent;
  border-color: #1ad1b9;
  color: #1ad1b9;
  background-color: rgb(49, 42, 42);
  cursor: pointer;
}
.button-counter {
  color: black;
  display: grid;
  background-color: rgb(199, 158, 197);
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
}
